<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>html table</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Full Name</th>
        </tr>
        {% for user_info in users %}
        <tr>
            <td>{{user_info["first_name"]}}</td>
            <td>{{user_info["last_name"]}}</td>
            <td>{{user_info["first_name"] + " " + user_info["last_name"]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>